<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="ServiceMtk_P2_20180140069.Matematika">
                <endpoint address="http://localhost:1907" binding="basicHttpBinding"
                    bindingConfiguration="" contract="ServiceMtk_P2_20180140069.IMatematika" />
                <endpoint binding="mexHttpBinding" bindingConfiguration="" name="EndpointMex"
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:1907" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>